<nav class="navbar">
  <ul class="navbar-nav">
    <li class="nav-item"><button class="nav-link" (click)="Inicio()">Inicio</button></li>
    <li class="nav-item"><button class="nav-link" (click)="Ejemplito()">Ejemplo</button></li>
    <li class="nav-item"><button class="nav-link" (click)="Info()">Informacion</button></li>
  </ul>
</nav>


<router-outlet></router-outlet>

<footer>
  <div class="contenido-footer">
    <p>© 2024 Karen A Mendoza Aragón</p>
    <nav>
      <ul>
        <li><a href="acerca-de">Más información</a></li>
       
      </ul>
    </nav>
  </div>
</footer>
