
<section> <h1> Tiempo transcurrido en el inicio:  {{conta}}</h1> </section>
<button class = "boton" (click)="cont()">Iniciar</button>
<br>
<p> En 1932 Australia tuvo una guerra que duró alrededor de 1 mes y la guerra terminó siendo ganada por el enemigo, <br>
  la guerra fue llamada "La guerra del Emú" y el ejercito enemigo era conformado por un número muy grande de soldados muy<br> 
 veloces e inteligentes: el ave emú. Parecidos a la avestruz, los emús son aves de gran tamaño que a pesar de no poder volar<br>
  son veloces en tierra, durante 1932 los emú se volvieron una plaga dañina en las zonas campesinas y en los cultivos de australia<br>
  por lo que después de quejas de los campesinos, el ejército de australia se vió involucrado en el control de la plaga y se autorizó<br>
  el uso de artillería pesada (como lo fue el caso de ametralladoras) para cazar a los emús.<br>
 Sin embargo, los emús resultaron ser muy inteligentes respecto al ataque del ejército por lo que se desperdició mucha artillería y<br>
  la guerra terminó siendo la victoria de los emús debido a que la plaga no se pudo contener eficientemente.</p>
 <img src="./assets/emus.jpg" class = "centrado" >

 